ul, li {
    list-style-type: none;
}
.gallery {
    max-width: 1128px;
    margin: 0 auto;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
.gallery-item {
    flex-basis: calc((100% - 24px * 2) / 3);
    min-height: 200px;
    overflow: hidden;
}
.gallery-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.gallery-item:hover {
    transform: scale(1.04);
  }